<form>
    <h1>DELETANDO PUBLICAÇÃO</h1>

    <mat-form-field class="form">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="publicacao.title" type="text" name="title" disabled>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Content</mat-label>
        <textarea matInput [(ngModel)]="publicacao.content" type="text" name="content" disabled></textarea>
    </mat-form-field>

    <div class="buttons">
        <button (click)="delete()" class="mat-elevation-z8" mat-stroked-button color="primary"> DELETE </button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn"> CANCEL </button>
    </div>

</form>